/* Document
    ========================================================================== */

 /**
  * 1. Configure the map.
  */


  #leafletMap {
    height: 550px !important;
    border: 3px solid #847a85;
    background-color: rgba(155,155,155,0.8);
    /*padding: 10px;*/
    color: var(--white);
    /*height: 50%;*/

    display: flex;
    flex-flow: column nowrap;
}
