/* Document
    ========================================================================== */

 /**
  * 1. Configure the map.
  */


  #leafletMap {
    /* position:fixed; */
    left: 5%;
    /*width: 50%;*/
    width: 80%;
    height: 500px !important;
    border: 3px solid #847a85;
    background-color: rgba(155,155,155,0.8);
    /*padding: 10px;*/
    color: var(--white);
    /*height: 50%;*/

    display: flex;
    flex-flow: column nowrap;
}
