{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} Eventos {% endblock title %}

{% block body_class %}  bg-gray-100 {% endblock body_class %}

{% block content %}
  {% include "navigation.html" %}

  <section class="my-5 py-5">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-4">
          <div class="card">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
              <a href="https://www.facebook.com/FilLimaPeru/posts/2512333538904033/ " target="_blank" class="d-block">
              <img src="{% static 'img/eventosAndDescuentos/evento-6.jpg' %}" alt="..." class="img-fluid border-radius-lg">
              </a>
            </div>

            <div class="card-body pt-2">
              <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">EVENTO</span>
              <a href="https://www.facebook.com/FilLimaPeru/posts/2512333538904033/" target="_blank" class="card-title h5 d-block text-darker">
                26° FERIA INTERNACIONAL DEL LIBRO DE LIMA
              </a>
              <p class="card-description mb-4">
                Prepárate para disfrutar de esta gran fiesta de los libros.
                ¡Comparte con los tuyos la Experiencia FIL!
              </p>
              <div class="author align-items-center">
                <a href="https://cpl.org.pe/" target="_blank">
                  <img src="{% static 'img/eventosAndDescuentos/cpl.jpg' %}" alt="..." class="avatar shadow">
                </a>
                <div class="name ps-3">
                  <a href="https://cpl.org.pe/" target="_blank">
                    <span>Cámara Peruana del Libro</span>
                  </a>
                  <div class="stats">
                    <small>Publicado el 9 de mayo de 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
              <a href="https://www.facebook.com/Filiquitos/photos/101298799255271/" target="_blank" class="d-block">
              <img src="{% static 'img/eventosAndDescuentos/evento-7.jpg' %}" alt="..." class="img-fluid border-radius-lg">
              </a>
            </div>

            <div class="card-body pt-2">
              <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">EVENTO</span>
              <a href="https://www.facebook.com/Filiquitos/photos/101298799255271/" target="_blank" class="card-title h5 d-block text-darker">
                FERIA INTERNACIONAL DEL LIBRO DE IQUITOS
              </a>
              <p class="card-description mb-4">
                Esta primera edición de la "FILI" (Feria Internacional del Libro de Iquitos)
                tiene el placer de dar a conocer a algunos de los escritores y críticos
                literarios que nos acompañarán del 15 al 22 de mayo.
              </p>
              <div class="author align-items-center">
                <a href="https://www.filiquitos.pe/" target="_blank">
                  <img src="{% static 'img/eventosAndDescuentos/fili.jpg' %}" alt="..." class="avatar shadow">
                </a>
                <div class="name ps-3">
                  <a href="https://www.filiquitos.pe/" target="_blank">
                    <span>Filiquitos</span>
                  </a>
                  <div class="stats">
                    <small>Publicado el 9 de mayo de 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
              <a href="https://www.facebook.com/entrelineascultu/posts/1573327529734544/ " target="_blank" class="d-block">
              <img src="{% static 'img/eventosAndDescuentos/evento-8.jpg' %}" alt="..." class="img-fluid border-radius-lg">
              </a>
            </div>

            <div class="card-body pt-2">
              <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">EVENTO</span>
              <a href="https://www.facebook.com/entrelineascultu/posts/1573327529734544/" target="_blank" class="card-title h5 d-block text-darker">
                VII FESTILIBRO 2022 AREQUIPA
              </a>
              <p class="card-description mb-4">
                Te invitamos a participar del VII FESTILIBRO en Arequipa una feria donde encontrarás muchas sorpresas:
                recitales, conservatorios, cuenta cuentos, actividades culturales, libros escolares, entre otros.
              </p>
              <div class="author align-items-center">
                <a href="https://www.muniarequipa.gob.pe/ " target="_blank">
                  <img src="{% static 'img/eventosAndDescuentos/mun_are.jpg' %}" alt="..." class="avatar shadow">
                </a>
                <div class="name ps-3">
                  <a href="https://www.muniarequipa.gob.pe/ " target="_blank">
                    <span>Municipalidad Provincial de Arequipa</span>
                  </a>
                  <div class="stats">
                    <small>Publicado el 13 de mayo de 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="my-5 py-5">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-4">
          <div class="card">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
              <a href="https://www.facebook.com/libreriascrisol.paginaoficial/photos/a.120619034635612/5446204215410374/ " target="_blank" class="d-block">
              <img src="{% static 'img/eventosAndDescuentos/evento-9.jpg' %}" alt="..." class="img-fluid border-radius-lg">
              </a>
            </div>

            <div class="card-body pt-2">
              <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">EVENTO</span>
              <a href="https://www.facebook.com/libreriascrisol.paginaoficial/photos/a.120619034635612/5446204215410374/" target="_blank" class="card-title h5 d-block text-darker">
                REVISTA "LIBROS Y MÁS"
              </a>
              <p class="card-description mb-4">
                Ya está disponible la 3era edición de la revista "Libros y más".
                En ella encontrarás muchas noticias sobre nuestras tiendas y de
                las campañas que tenemos para ustedes. Además, conoce más sobre
                la escritora, editora y antropóloga peruana Karina Pacheco Medrano
              </p>
              <div class="author align-items-center">
                <a href="https://www.crisol.com.pe/" target="_blank">
                  <img src="{% static 'img/eventosAndDescuentos/crisol.jpg' %}" alt="..." class="avatar shadow">
                </a>
                <div class="name ps-3">
                  <a href="https://www.crisol.com.pe/" target="_blank">
                    <span>Librerías Crisol</span>
                  </a>
                  <div class="stats">
                    <small>Publicado el 14 de mayo de 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
              <a href="https://www.facebook.com/mincu.pe/posts/337686675117055/" target="_blank" class="d-block">
              <img src="{% static 'img/eventosAndDescuentos/evento-10.jpg' %}" alt="..." class="img-fluid border-radius-lg">
              </a>
            </div>

            <div class="card-body pt-2">
              <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">EVENTO</span>
              <a href="https://www.facebook.com/mincu.pe/posts/337686675117055/" target="_blank" class="card-title h5 d-block text-darker">
                SEMANA DE LA EDUCACIÓN ARTÍSTICA
              </a>
              <p class="card-description mb-4">
                Súmate a esta jornada de arte y educación para abordar temas del contexto actual de la educación
                artística en la escuela y participa de los talleres presenciales y virtuales para afianzar tus
                capacidades y habilidades pedagógicas.
              </p>
              <div class="author align-items-center">
                <a href="https://www.gob.pe/cultura/" target="_blank">
                  <img src="{% static 'img/eventosAndDescuentos/mdc.jpg' %}" alt="..." class="avatar shadow">
                </a>
                <div class="name ps-3">
                  <a href="https://www.gob.pe/cultura/" target="_blank">
                    <span>Ministerio de Cultura del Perú</span>
                  </a>
                  <div class="stats">
                    <small>Publicado el 17 de mayo de 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
              <a href="https://www.facebook.com/buensalvajecom/posts/5235544399861015/" target="_blank" class="d-block">
              <img src="{% static 'img/eventosAndDescuentos/evento-11.jpg' %}" alt="..." class="img-fluid border-radius-lg">
              </a>
            </div>

            <div class="card-body pt-2">
              <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">EVENTO</span>
              <a href="https://www.facebook.com/buensalvajecom/posts/5235544399861015/" target="_blank" class="card-title h5 d-block text-darker">
                30% DE DESCUENTO EN CRECIMIENTO PERSONAL
              </a>
              <p class="card-description mb-4">
                Hasta el 28 de mayo tendremos hasta 30% de descuento en miles de libros.
              </p>
              <div class="author align-items-center">
                <a href="https://www.buensalvaje.com/" target="_blank">
                  <img src="{% static 'img/eventosAndDescuentos/buensalvaje.jpg' %}" alt="..." class="avatar shadow">
                </a>
                <div class="name ps-3">
                  <a href="https://www.buensalvaje.com/" target="_blank">
                    <span>Librería Buen Salvaje</span>
                  </a>
                  <div class="stats">
                    <small>Publicado el 18 de mayo de 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="my-5 py-5">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-4">
          <div class="card">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
              <a href="https://www.facebook.com/CasaLiteratura/posts/5227050394021150/ " target="_blank" class="d-block">
              <img src="{% static 'img/eventosAndDescuentos/evento-12.jpg' %}" alt="..." class="img-fluid border-radius-lg">
              </a>
            </div>

            <div class="card-body pt-2">
              <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">EVENTO</span>
              <a href="https://www.facebook.com/CasaLiteratura/posts/5227050394021150/" target="_blank" class="card-title h5 d-block text-darker">
                VOCES EN LENGUAS ORIGINARIAS: TRES POETAS PERUANAS CONTEMPORÁNEAS
              </a>
              <p class="card-description mb-4">
                Conozcamos a tres poetas contemporáneas en la jornada Voces en lenguas
                originarias. Participa este jueves 26, a las 6 p.m. 
              </p>
              <div class="author align-items-center">
                <a href="https://www.casadelaliteratura.gob.pe/" target="_blank">
                  <img src="{% static 'img/eventosAndDescuentos/clp.jpg' %}" alt="..." class="avatar shadow">
                </a>
                <div class="name ps-3">
                  <a href="https://www.casadelaliteratura.gob.pe/" target="_blank">
                    <span>Casa de la Literatura Peruana</span>
                  </a>
                  <div class="stats">
                    <small>Publicado el 19 de mayo de 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
              <a href="https://www.facebook.com/mincu.pe/posts/337686675117055/" target="_blank" class="d-block">
              <img src="{% static 'img/eventosAndDescuentos/evento-13.jpg' %}" alt="..." class="img-fluid border-radius-lg">
              </a>
            </div>

            <div class="card-body pt-2">
              <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">EVENTO</span>
              <a href="https://www.facebook.com/mincu.pe/posts/337686675117055/" target="_blank" class="card-title h5 d-block text-darker">
                BOLETÍN MENSUAL DE OPORTUNIDADES FORMATIVAS PARA ARTISTAS Y TRABAJADORES DEL ARTE
              </a>
              <p class="card-description mb-4">
                El Ministerio de Cultura lanza el primer Boletín de Oportunidades de Formativas - 
                edición mayo 2022, el cual contiene información sobre las actividades mensuales 
                que su servicio Conecta viene organizando.
              </p>
              <div class="author align-items-center">
                <a href="https://www.gob.pe/cultura/" target="_blank">
                  <img src="{% static 'img/eventosAndDescuentos/mdc.jpg' %}" alt="..." class="avatar shadow">
                </a>
                <div class="name ps-3">
                  <a href="https://www.gob.pe/cultura/" target="_blank">
                    <span>Ministerio de Cultura del Perú</span>
                  </a>
                  <div class="stats">
                    <small>Publicado el 20 de mayo de 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
              <a href="https://www.facebook.com/buensalvajecom/posts/5235544399861015/" target="_blank" class="d-block">
              <img src="{% static 'img/eventosAndDescuentos/evento-14.jpg' %}" alt="..." class="img-fluid border-radius-lg">
              </a>
            </div>

            <div class="card-body pt-2">
              <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">EVENTO</span>
              <a href="https://www.facebook.com/buensalvajecom/posts/5235544399861015/" target="_blank" class="card-title h5 d-block text-darker">
                RE|PENSAR LAS POLÍTICAS PARA LA CREATIVIDAD
              </a>
              <p class="card-description mb-4">
                ¿Cómo reconstruir mejor el sector cultural? No te pierdas la presentación nacional del nuevo informe de la UNESCO Perú.
              </p>
              <div class="author align-items-center">
                <a href="https://www.gob.pe/cultura/" target="_blank">
                  <img src="{% static 'img/eventosAndDescuentos/mdc.jpg' %}" alt="..." class="avatar shadow">
                </a>
                <div class="name ps-3">
                  <a href="https://www.gob.pe/cultura/" target="_blank">
                    <span>Ministerio de Cultura del Perú</span>
                  </a>
                  <div class="stats">
                    <small>Publicado el 20 de mayo de 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="my-5 py-5">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-4">
          <div class="card">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
              <a href="https://www.facebook.com/libreriasbs/posts/5234550009924258/ " target="_blank" class="d-block">
              <img src="{% static 'img/eventosAndDescuentos/evento-15.jpg' %}" alt="..." class="img-fluid border-radius-lg">
              </a>
            </div>

            <div class="card-body pt-2">
              <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">EVENTO</span>
              <a href="https://www.facebook.com/libreriasbs/posts/5234550009924258/" target="_blank" class="card-title h5 d-block text-darker">
                DESCUBRE LAS NOVEDADES DE LIBRERÍA SBS
              </a>
              <p class="card-description mb-4">
                ¿Ya viste todas las novedades que tenemos para ti? ¡Encuentra ya tu próxima lectura!
              </p>
              <div class="author align-items-center">
                <a href="https://www.sbs.com.pe/" target="_blank">
                  <img src="{% static 'img/eventosAndDescuentos/sbs.jpg' %}" alt="..." class="avatar shadow">
                </a>
                <div class="name ps-3">
                  <a href="https://www.sbs.com.pe/" target="_blank">
                    <span>Librería SBS Perú</span>
                  </a>
                  <div class="stats">
                    <small>Publicado el 21 de mayo de 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
      <!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}
