{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} Mujeres {% endblock title %}

{% block body_class %}  bg-gray-100 {% endblock body_class %}

{% block content %}
  {% include "navigation.html" %}
  <section id="pageContent">
      <div class="wrap">
          <h1>Filtrar por categoría</h1>
          <div class="store-wrapper">
              <div class="category_list">
                  <a href="#" class="category_item" category="all">Todo</a>
                  <!-- <a href="{% url 'Galleries' %}" class="category_item" category="Escritoras">Escritoras</a> -->
                  <a href="#" class="category_item" category="Escritora">Escritoras</a>
                  <a href="#" class="category_item" category="Poeta">Poetas</a>
                  <a href="#" class="category_item" category="Editora">Editoras</a>
                  <a href="#" class="category_item" category="Ilustradora">Ilustradoras</a>
                  <a href="#" class="category_item" category="Antropologa">Antropóloga</a>
              </div>
              <section class="products-list">
                  {% for mujer in mujeres %}
                  <div class="product-item" category={{mujer.categoria}}>
                      <img src="static/{{mujer.link_imagen}}" alt="">
                      <a href="{% url 'Gallerie' mujer_id=mujer.id %}">{{mujer.nombre}}</a>
                  </div>
                  {% empty %}
                  <p class="text">Ninguna mujer por el momento.</p>
                  {% endfor %}

              </section>
          </div>
      </div>
  </section>
{% endblock content %}
  <!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/nb.css' %}">
{% endblock javascripts %}
