{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} Mapa {% endblock title %}

{% block body_class %} bg-gray-100 {% endblock body_class %}

{% block content %}

  <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 my-auto">
            <h1 class="text-gradient text-warning mb-0"> Mapa de </h1>
            <h1 class="mb-4">Escritoras Peruanas</h1>
            <p class="lead">Proyecto digital que busca
              la difusión y visibilización de escritoras, poetas, historiadoras,
              historietistas, editoras, ilustradoras peruanas de todas las regiones del Perú.
            </p>
            <div class="buttons">
              <a href="{% url 'Map' %}">
                <button type="button" class="btn bg-gradient-warning shadow-none mt-4">Descubrir</button>
              </a>
              <a href="{% url 'About' %}">
                <button type="button" class="btn text-warning shadow-none mt-4">Leer más</button>
              </a>
            </div>
          </div>
          <div class="col-lg-8 ps-5 pe-0">
            <div class="row">
              <div class="col-lg-3 col-6">
                <img class="w-100 border-radius-lg shadow mt-0 mt-lg-7" src="{% static 'images/Escritora_01.jpg' %}" alt="">
              </div>
              <div class="col-lg-3 col-6">
                <img class="w-100 border-radius-lg shadow" src="{% static 'images/Escritora_02.jpg' %}" alt="">
                <img class="w-100 border-radius-lg shadow mt-4" src="{% static 'img/Mujer_5_Libro2.jpg' %}" alt="">
              </div>
              <div class="col-lg-3 col-6">
                <img class="w-100 border-radius-lg shadow mt-0 mt-lg-5" src="{% static 'images/Escritora_04.jpg' %}" alt="">
                <img class="w-100 border-radius-lg shadow mt-4" src="{% static 'images/Escritora_01.jpg' %}" alt="">
              </div>
              <div class="col-lg-3 col-6">
                <img class="w-100 border-radius-lg shadow mt-3" src="{% static 'images/Escritora_02.jpg' %}" alt="">
                <img class="w-100 border-radius-lg shadow mt-4" src="{% static 'images/Escritora_03.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
<!-- MAP Files -->
  <script src="{% static 'js/map.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />

{% endblock javascripts %}
