{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>N&B photographies - À propos</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/nb.css' %}">
    <script src="{% static 'js/randomImage.js' %}" defer></script>
</head>

<body>
    <header id="mainHeader">
        <img src="{% static 'images/layout/nb_logo.svg' %}" alt="Logo NB" id="logoImg" />
        <nav id="mainNav">
            <ul>
                <li><a href="{% url 'Index' %}">Inicio</a></li>
                <li><a href="{% url 'Galleries' %}">Mujeres del mapa</a></li>
                <li><a href="{% url 'Eventos' %}">Eventos y descuentos</a></li>
                <li><a href="{% url 'Contact' %}">Contacto</a></li>
            </ul>
        </nav>
        <button id="menuToggle" class="hamburger">&nbsp;</button>
    </header>

    <section id="pageContent">
        <main>
            <h1>Gracias</h1>
            <p>Merci pour votre message. Notre équipe reprendra contact avec vous dans les 3 jours ouvrables.</p>
            <p>À très bientôt</p>
        </main>
    </section>
    <footer id="mainFooter">
        <p>&copy; copyright Damien Bruyndonckx - 2019</p>
    </footer>
</body>

</html>