{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} Respuesta {% endblock title %}

{% block body_class %}  bg-gray-100 {% endblock body_class %}

{% block content %}
  {% include "navigation.html" %}
  <section class="my-5 py-5">
    <div class="container">
      <main>
          <h1>Gracias!</h1>
          <p>Gracias por completar el formulario y por contactarnos!</p>
          <p>Recibirá un mail de respuesta en los próximos días</p>
      </main>
    </div>

  </section>
{% endblock content %}
        <!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="{% static 'js/randomImage.js' %}" defer></script>
{% endblock javascripts %}
