{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mujeres del libro peruano - Escritora</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/nb.css' %}">
    <script src="{% static 'js/randomImage.js' %}" defer></script>
    <script src="{% static 'js/singleGallery.js' %}" defer></script>
</head>

<body>
    <header id="mainHeader">
        <img src="{% static 'images/layout/logo_mapa.svg' %}" alt="Logo NB" id="logoImg" />
        <nav id="mainNav">
            <ul>
                <li><a href="{% url 'Index' %}">Inicio</a></li>
                <li><a href="{% url 'Galleries' %}">Mujeres del mapa</a></li>
                <li><a href="{% url 'Eventos' %}">Eventos y descuentos</a></li>
                <li><a href="{% url 'Contact' %}">Contacto</a></li>
            </ul>
        </nav>
        <button id="menuToggle" class="hamburger">&nbsp;</button>
    </header>

    <section id="pageContent" class="home">
        <!-- <main id="singleGallery"> -->
        <!-- <h1>Autoras</h1> -->
        <div class="hijo1">
            <h1>Informacion</h1>
            <p>Ubicacion : {{mujer.lugar.distrito}} {{mujer.lugar.provincia}}</p>
            <p>Departamento : {{mujer.lugar.departamento}}</p>
            <p>Fecha de nacimiento : {{mujer.fecha_nacimiento}}</p>
            <p>Fecha de defuncion : {{mujer.fecha_defuncion}} </p>
            <p>{{mujer.trayectoria}} </p>
            <p>Contacto : {{mujer.contacto}}</p>
            <p>Entrevista :</p>
            {% if mujer.entrevista == None %}
            <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" width="560" height="315" frameborder="0"
                allowfullscreen></iframe>
            {% else %}
            <iframe src="{{mujer.entrevista}}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
            {% endif %}
            <h1>Publicaciones :</h1>
            {% for publicacion in publicaciones %}
            <h3>Titulo del libro :{{publicacion.titulo}}</h3>
            <p>isbn : {{publicacion.isbn}}</p>
            <p>{{publicacion.categorizacion}}-{{publicacion.fecha}}</p>
            <p>{{publicacion.descripcion}}</p>
            <img src="/static/{{publicacion.link_imagen}}" alt="">
            {% empty %}
            <p>Ninguna publicacion disponible por el momento.</p>
            {% endfor %}
        </div>

        <div class="hijo2">
            <h1>{{mujer.nombre}} {{mujer.apellido}}</h1>
            <img src="/static/{{mujer.link_imagen}}" alt="">
        </div>
        <!-- </main> -->
    </section>
    <footer id="mainFooter">
        <p>&copy; copyright Mujeres del libro peruano - 2022</p>
    </footer>
    <figure id="galleryContainer"><img src=""></figure>
</body>

</html>