{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} Escritora {% endblock title %}

{% block body_class %}  bg-gray-100 {% endblock body_class %}

{% block content %}
  {% include "navigation.html" %}
  <section class="my-5 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-8 order-2 order-md-2 order-lg-1">
          <div class="">
            <h2>{{mujer.nombre}} {{mujer.apellido}}</h2>
            <p>{{mujer.lugar.distrito}} , {{mujer.lugar.provincia}} , {{mujer.lugar.departamento}}, ( {{mujer.fecha_nacimiento}} - {{mujer.fecha_defuncion}} ) </p>
            <small>{{mujer.categoria}} </small>
                  <p>Ubicacion : {{mujer.lugar.distrito}} {{mujer.lugar.provincia}}</p>
                  <p>Departamento : {{mujer.lugar.departamento}}</p>
                  <p>Fecha de nacimiento : {{mujer.fecha_nacimiento}}</p>
                  <p>Fecha de defuncion : {{mujer.fecha_defuncion}} </p>
                  <p>{{mujer.trayectoria}} </p>
                  <p>Contacto : {{mujer.contacto}}</p>
                  <p>Entrevista :</p>
                  {% if mujer.entrevista == None %}
                  <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" width="560" height="315" frameborder="0"
                      allowfullscreen></iframe>
                  {% else %}
                  <iframe src="{{mujer.entrevista}}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
                  {% endif %}
                  <h1>Publicaciones :</h1>
                  {% for publicacion in publicaciones %}
                  <h3>Titulo del libro :{{publicacion.titulo}}</h3>
                  <p>isbn : {{publicacion.isbn}}</p>
                  <p>{{publicacion.categorizacion}}-{{publicacion.fecha}}</p>
                  <p>{{publicacion.descripcion}}</p>
                  {% empty %}
                  <p>Ninguna publicacion disponible por el momento.</p>
                  {% endfor %}
          </div>
        </div>
        <div class="col-lg-5 col-md-12 ms-auto order-1 order-md-1 order-lg-1">
          <img src="/static/{{mujer.link_imagen}}" class="img border-radius-lg max-width-200 w-100 position-relative z-index-2" alt="writter profile">
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="{% static 'js/randomImage.js' %}" defer></script>
<script src="{% static 'js/singleGallery.js' %}" defer></script>
{% endblock javascripts %}
