{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} Escritora {% endblock title %}

{% block body_class %}  bg-gray-100 {% endblock body_class %}

{% block content %}
  {% include "navigation.html" %}
  <section id="pageContent" class="home">
      <!-- <main id="singleGallery"> -->
      <!-- <h1>Autoras</h1> -->
      <div class="hijo1">
          <h1>Informacion</h1>
          <p>Ubicacion : {{mujer.lugar.distrito}} {{mujer.lugar.provincia}}</p>
          <p>Departamento : {{mujer.lugar.departamento}}</p>
          <p>Fecha de nacimiento : {{mujer.fecha_nacimiento}}</p>
          <p>Fecha de defuncion : {{mujer.fecha_defuncion}} </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dignissimos, enim aut impedit
              officia provident, </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dignissimos, enim aut impedit
              officia provident, </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dignissimos, enim aut impedit
              officia provident, </p>

          <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" width="560" height="315" frameborder="0"
              allowfullscreen></iframe>
      </div>

      <div class="hijo2">
          <h1>{{mujer.nombre}} {{mujer.apellido}}</h1>
          <img src="/static/{{mujer.link_imagen}}" alt="">
      </div>
      <!-- </main> -->
  </section>
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/nb.css' %}">
<script src="{% static 'js/randomImage.js' %}" defer></script>
<script src="{% static 'js/singleGallery.js' %}" defer></script>
{% endblock javascripts %}
