@import url('https://fonts.googleapis.com/css?family=Cantarell|Raleway&display=swap');


:root {
    --black: #333;
    --blue: #7186FF;
    --red: #997172;
    --shaded-red: rgb(223, 149, 149);
    --green: #00751F;
    --white: #FFF;

    height: 100vh;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body {
    font-size: 1rem;
    font-family: Raleway, Verdana, san-serif;
    min-height: 100%;
}
img {
    max-width: 100%;
    height: auto;;
}
#mainHeader{
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: start;
    background-color: var(--red);
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
}
#logoImg{
    padding: 5px;
    position: relative;
    z-index: 1000;
}
#mainNav{
    position: absolute;
    background-color: var(--red);
    width: 100%;
    top: 40px;
    padding-bottom: 10px;
    display: none;
}
#mainNav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    margin-left: 90px;
}
#mainNav a{
    color: white;
    text-decoration: none;
    font-family: Cantarell, Arial, sans-serif;
    font-size: 1.5em;
    display:-moz-marker;
    margin: 10px;
    float:right;
    margin-right: 180px;
    margin-top: 10px;
}
#mainNav a:hover{
    color: var(--shaded-red);

}
#menuToggle{
    background-color: transparent;
    border: none;
    background-size: cover;
    width: 40px;
    height: 40px;;
    align-self: start;
    margin-left: auto;

}
#menuToggle.hamburger{
    background-image: url(../images/layout/hamburger.png);
}
#pageContent {
    padding: 200px 40px;
    min-height: 100vh;
    background-image: url(../images/image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#pageContent.home{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#pictInfo {
    background-color: rgba(155,155,155,0.8);
    padding: 10px;
    color: var(--white);
    width: 300px;
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}
#pictInfo h1{
    font-family: Cantarell, Arial, sans-serif;
    font-size: 1.2em;
    margin: 15px 0;
}
#pictInfo p{
    margin: 20px 0;
    font-size: .8em;
}

#pictInfo2 {
    background-color: red;
    padding: 10px;
    color: var(--white);
    width: 200px;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    position:relative;
    float:right;
    margin-right: 180px;
    margin-top: 10px;
}
#pictInfo2 h1{
    font-family: Cantarell, Arial, sans-serif;
    font-size: 1.2em;
    margin: 15px 0;
}
#pictInfo2 p{
    margin: 20px 0;
    font-size: .8em;
}

main{
    background-color: var(--blue);
    padding: 20px;
    color: var(--white);
}
main form{
    display: grid;
    border-top: solid 1px var(--white);
}
main form > div > div {
    display: flex;
    flex-flow: column nowrap;
    margin: 20px 0;
}
main form > div:last-child > div:first-child{
    margin: 0 0 20px 0;
}
main form label{
    margin-bottom: 5px;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
}
main form textarea {
    height: 150px;
    resize: none;
}
main form button{
    padding: 10px;
    background-color: var(--red);
    color: var(--white);
    border: none;
    margin-top: 30px;
}
main form button:hover{
    background-color: var(--shaded-red);
}
main form button:active{
    background-color: var(--red);
}
main form .msg{
    font-size: .8em;
    color: rgb(88, 1, 1);
    margin-left: 20px;
}
main form input, main form textarea{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(162, 162, 255);
}
main form input:valid, main form textarea:valid {
    border: 1px solid var(--green);
}
main form input.invalid, main form textarea.invalid {
    border: 1px solid var(--red);
}
main ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: start;
    grid-auto-flow: row;
    grid-gap: 20px
}
main ul li{
    background-color: var(--white);
    padding: 10px;
}
main ul li:hover{
    background-color: var(--shaded-red);
}
main ul li a{
    color: var(--black);
    text-decoration: none;
}

#galleryContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s;
}
#galleryContainer img{
    border: solid 5px var(--white);
    max-height: 80%;
    width: auto;
}
#galleryContainer.visible {
    opacity: 1;
    visibility: visible;
}
#mainFooter{
    background-color: var(--red);
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: var(--white);
    font-size: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px){
    #menuToggle{
        display: none;
    }
    #mainNav{
        position: static;
        background: transparent;
        display: flex;
        padding: 0;
        justify-content: flex-end;
    }
    #mainNav ul{
        flex-flow: row nowrap;
        margin-left: 0px;
    }
    #mainNav a{
        font-size: 1.2em;
    }   
    #pageContent.home{
        justify-content: flex-end;
    }
    main ul{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1024px){
    main form{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    main form button{
        padding: 10px;
        background-color: var(--red);
        color: var(--white);
        border: none;
        grid-column: 1 / -1
    }
    main ul{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1280px){
    main ul{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (min-width: 1600px){
    main ul{
        grid-template-columns: repeat(5, 1fr);
    }
}